<div class="modal" id="dog_modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="has-text-centered" id="is_loading">
      <button class="button is-loading is-light"></button>
    </div>
    <div class="container" id="dog_content">
      <div class="columns is-gapless">
        <div class="column is-7">
          <p class="image is-1by1">
            <img src="" id="dog_image">
          </p>
        </div>
        <div class="column is-5">
          <h4 class="title is-3 modal_title">
            <span id="dog_name"></span>
            <span class="heart_favorite" id="heart_modal"><i class="far fa-heart has-text-danger"></i></span>
          </h4>

          <div class="about_the_dog">
            <p id="dog_age">...</p>
            <p id="dog_breed">...</p>
            <p id="dog_sex">...</p>
            <p id="dog_temperament">...</p>
            <p id="dog_vaccine">...</p>
            <p id="dog_height">...</p>
            <p id="dog_pelage">...</p>
            <p id="dog_pelage_color">...</p>
            <p id="dog_pedigree">...</p>
            <p id="dog_register">...</p>
            <p id="dog_mother_name">...</p>
            <p id="dog_father_name">...</p>
          </div>

          <div class="has-text-centered">
            <a href="#" alt="mais fotos" id="more_photos" class="button">Mais Fotos</a>
          </div>

          <br>

          <div class="about_the_owner">
            <h4 class="title is-5 has-text-weight-bold">Informações sobre o dono</h4>
            <p id="owner_name">...</p>
            <p id="owner_email">...</p>
            <p id="owner_telephone">...</p>
            <p id="owner_city_state">...</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="modal-close is-large" id="dog_modal_close" aria-label="close"></button>
</div>
