.aside {
  height: 100%;
  width: $asideWidth;
  position: fixed;
  top: $headerHeight;
  left: 0;
  background-color: $white;

  .user_box {
    padding: 15px;
    background-color: $dark;

    img {
      
      display: block;
      @include border-radius(50%);
      width: 90px;
      height: 90px;
    }

    p {
      margin: 15px 0 0 0;
      color: lighten($dark, 25);
      font-size: 15px;
      font-weight: bold;
    }
  }

  .menu_box {
    padding-top: 15px;
    nav {
      ul {
        padding: 0;
        li {
          list-style-type: none;
          a {
            display: block;
            padding: 12px 12px;
            color: lighten($dark, 15);
            border-left: 3px solid $white;
            outline: none;

            .link_icon {
              font-size: 26px;
              margin-right: 10px;
            }

            span {
              display: block;
              float: right;
              position: relative;
              top: 3px;
              font-size: 14px;
            }

            &:hover {
              color: $primaryColor;
              border-left: 3px solid $primaryColor;
              text-decoration: none;
            }
          }

          ul {
            display: none;

            li {
              a {
                padding-top: 6px;
                padding-bottom: 6px;
                padding-left: 53px;
              }
            }
          }
        }
      }
    }
  }
}
