html, body {
  background-color: darken($white, 3);
}

.table {
  tbody {
    tr {
      td {
        vertical-align: middle;
      }
    }
  }
}

.control {
  .select {
    width: 100%;
    select {
      width: inherit;
    }
  }
}

.field {
  .is_required::after {
    content: " *";
    color: red;
  }
}

.mt-1 {
  padding-top: 5px;
}
.mb-1 {
  padding-bottom: 5px;
}
