@media (max-width: 980px) {
  .base_one {
    .right_side {
      display: flex;

      .retract_button {
        display: block;
        height: 35px;
        width: 30px;
        margin-top: 9px;
        margin-right: 15px;
        cursor: pointer;

        span {
          display: block;
          height: 5px;
          background-color: $dark;
          margin-top: 5px;
        }
      }

      .logout_button {
        a {
          color: $dark;
        }
        padding-top: 16px;
      }
    }
  }
}
