.list_image {
  cursor: pointer;
}

.heart_favorite {
  cursor: pointer;
}

.list_title {
  margin-bottom: 0;
  padding-bottom: 0;
}

  .image_dog img {
    display: block;
    height: 235px;
    width: 100%;
}